@import "./../variables.scss";

.amountRenderer-component-container {
  .amountRenderer-container {
    .amount-renderer--partContainer {
      display: grid;
      width: 8em;
      grid-template-columns: 4em 2em 2em;
      grid-template-rows: auto auto;
      align-items: center;
      justify-items: center;
      .amount-renderer--amount {
        font-size: 350%;
        color: $font-content-primary;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      .amount-renderer--seperator {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        font-size: 200%;
      }
      .amount-renderer--total {
        font-size: 200%;
        color: $font-content-secondary;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
      }
    }
  }
}