<div class="card-container">
    {{#each intenthandlers}}
        <div class="mdc-card element-card">
            <div class="mdc-card__primary-action ">
                <div class=" element-card--primary mdc-card__title element-card--title">{{this._doc.identifier}}</div>
                <div class="element-card--secondary">
                    <div class="element-card--secondary">Client: {{this._doc.client}}</div>
                    <div class="element-card--secondary">Intent: {{this._doc.intent}}</div>
                    <!-- ... additional primary action content ... -->
                    <div class="mdc-card__ripple"></div>
                </div>
                <!-- ... additional primary action content ... -->
                <div class="mdc-card__ripple"></div>
            </div>

        </div>
    {{/each}}
</div>