<div id="{{id}}" class="component-container {{componentName}}-container">
    <div class="component-inner">
        <div class="component-part amount-renderer--partContainer">
            <div class="amount-renderer--amount card-text--good">
                <span>{{data.amount}}</span>
            </div>
            <div class="amount-renderer--seperator card-text--shy">/</div>
            <div class="amount-renderer--total">
                <span>{{data.total}}</span>
            </div>
        </div>
    </div>
</div>