<div class="mappingSelect component-container {{componentName}}-component-container">
   <div class="mappingSelect-stages-container">
       <div id="stage1--container">

       </div>
       <div id="stage2--container">

       </div>
       <div id="stage3--container">

       </div>
   </div>
</div>