<div class="skillSelectDialog component-container dialog-component-container {{componentName}}-component-container mdc-dialog__container">
    <div class="mdc-dialog__surface"
         role="alertdialog"
         aria-modal="true"
         aria-labelledby="my-dialog-title"
         aria-describedby="my-dialog-content">
        <h2 class="mdc-dialog__title" id="my-dialog-title">Choose skill</h2>
        <div class="mdc-dialog__content" id="my-dialog-content">
            <div class="skillSelectDialog-stages-container">
                <div id="stage1" class="skillSelectDialog-stage skillSelectDialog-stage-active skillSelectDialog-stage-initial">
                    <ul id="stage1--content" class="skillSelectDialog-stage-content mdc-deprecated-list mdc-deprecated-list--two-line mdc-deprecated-list--avatar-list" role="listbox">
                    </ul>
                </div>
                <div id="stage2" class="skillSelectDialog-stage">
                    <ul id="stage2--content" class="skillSelectDialog-stage-content mdc-deprecated-list mdc-deprecated-list--two-line mdc-deprecated-list--avatar-list" role="listbox">
                    </ul>
                </div>

                <div id="stage3" class="skillSelectDialog-stage">
                    <ul id="stage3--content" class="skillSelectDialog-stage-content mdc-deprecated-list mdc-deprecated-list--two-line mdc-deprecated-list--avatar-list" role="listbox">
                    </ul>
                </div>
                <div id="stage4" class="skillSelectDialog-stage">
                    <ul id="stage4--content" class="skillSelectDialog-stage-content mdc-deprecated-list mdc-deprecated-list--two-line" role="listbox">
                    </ul>
                </div>
            </div>
        </div>
        <div class="mdc-dialog__actions">
            <button id="skillSelectDialog-cancel-button" type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Cancel</span>
            </button>
            <button id="skillSelectDialog-back-button" type="button" class="mdc-button mdc-dialog__button" disabled data-mdc-dialog-action="back">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Back</span>
            </button>
            <button id="skillSelectDialog-confirm-button" type="button" class="mdc-button mdc-dialog__button" disabled data-mdc-dialog-action="confirm">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Confirm</span>
            </button>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>