<div class="dashboard-container">
    <div class="dashboard-inner">
        <div class="dashboard-section dashboard-section-cards">
            <div class="dashboard-section-header">
                <span class="dashboard-section-header--title">
                    Add Client
                </span>
            </div>
            <div class="replicator-form-container">
                <div class="replicator-form">
                    <label class="replicator-form-element mdc-text-field mdc-text-field--filled">
                        <span class="mdc-text-field__ripple"></span>
                        <span class="mdc-floating-label" id="my-label-id">Client url (http)</span>
                        <input id="discoverClient-url" class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
                        <span class="mdc-line-ripple"></span>
                    </label>
                    <div class="replicator-form-element button-container">
                        <a class="button discoverClientButton">
                            <button class="mdc-button mdc-button--outlined mdc-button--icon-leading">
                                <span class="mdc-button__ripple"></span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">hub</i>
                                <span class="mdc-button__label">Continue</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-section dashboard-section-cards">
            <div class="dashboard-section-header">
                <span class="dashboard-section-header--title">

                </span>
            </div>
            <div id="discoverClient-result" class="page-section connection-result">

            </div>
        </div>
    </div>
</div>