<div id="stage1" class="mappingSelect-stage mappingSelect-stage-active mappingSelect-stage-initial">
    <div id="stage1--heading" class="mappingSelect-stage-heading">
        <span>Mapping type</span>
    </div>
    <div class="stage1--content mappingSelect-stage-content">
        <div class="dashboard-list-container">
            <ul class="dashboard-list">
                <li class="dashboard-list-item dashboard-list-item--select variable-mapping">
                    <select class="stage1--select stage--select variable-select dashboard-list-item-entry dashboard-list-item-value">
                        {{#each data.stage.options}}
                            <option class="selectStage--option" value="{{this.value}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </li>
            </ul>
        </div>
    </div>
</div>

