<div id="stage3" class="mappingSelect-stage">
    <div id="stage3--heading" class="mappingSelect-stage-heading">
        <span>Select value</span>
    </div>
    <div id="stage3--content" class="mappingSelect-stage-content">
        <div class="dashboard-list-container">
            <label class="replicator-form-element mdc-text-field mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="my-label-id">Identifier</span>
                <input id="intentHandler-identifier" class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
        </div>
    </div>
</div>