<div class="dashboard-container">
    <div class="dashboard-inner">
        <div class="dashboard-section dashboard-section-cards">
            <div class="dashboard-section-header">
                <span class="dashboard-section-header--title">
                    Alerts
                </span>
            </div>
            <div class="dashboard-cardSet">
                {{#each alerts}}
                    <div class="dashboard-card card element-card client-card alert-card client-card--reduced" data-name="{{this.identifier}}">
                        <div class="card-header">{{this.name}}</div>
                        <div class="card-body">
                            <div class="card-property-container">
                                <div class="card-property">
                                    <span class="card-property--label">type</span>
                                    <span class="card-property--value">{{this.type}}</span>
                                </div>
                                <div class="card-property">
                                    <span class="card-property--label">priority</span>
                                    <span class="card-property--value">{{this.priority}}</span>
                                </div>

                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>