@import "./variables.scss";
$dashboard-bg: $content;
$dashboard-section-bg: $tertiary;

.dashboard-container {
  background-color: $dashboard-bg;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;

  &.dashboard-tabs {
    .dashboard-tab {
      display: none;
      &.dashboard-tab--active {
        display: block;
      }
    }
  }
  .dashboard-inner {
    flex: 1 1 auto;
    margin: 25px 15px;

    .dashboard-header {
      width: 100%;
      padding: 25px 10px;
      .dashboard-header-inner {
        font-size: 200%;
        color: $primary;
      }
    }

    .dashboard-menu {
      display: flex;
      flex-flow: row wrap;
      .dashboard-menu-button {
        margin-right: 1em;
      }
      .dashboard-save-button {
        .mdc-fab {
          background-color: #752d38;
        }
      }
    }

    .dashboard-section {
      width: 100%;
      padding: 20px;
      border-radius: 5px;

      background-color: $dashboard-section-bg;
      //box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

      .dashboard-section-header {
        font-size: 180%;
        font-weight: lighter;
        font-family: "Open Sans Light", "Open Sans", serif;
        margin-bottom: 2em;
      }

      &.dashboard-section-cards {
        .dashboard-cardSet {
          display: flex;
          flex-flow: row wrap;

          .dashboard-card {


            .card-title {
              font-size: 120%;
            }
            .card-text--primary {
              color: $font-content-primary;
            }
            .card-text--secondary {
              color: $font-content-secondary;
            }
            .card-text--shy {
              color: $font-content-shy;
            }
            .card-text--good {
              color: $font-content-good;
            }
            .card-text--neutral {
              color: $font-content-neutral;
            }
            .card-text--bad {
              color: $font-content-bad;
            }
          }

        }
      }

      &.dashboard-section-list {
        .dashboard-list-container {
          .dashboard-list-header {
            font-size: 120%;
            color: $primary;
          }
          .dashboard-list {
            margin: 0;
            padding: 10px 0;
            width: 100%;
            .dashboard-list-item {
              display: flex;
              flex-flow: row wrap;
              padding: 5px 5px;
              margin: 5px 0;

              &:hover {
                background-color: $primary-light;
              }

              .dashboard-list-item-entry {
                flex: 1 1 auto;

                &.dashboard-list-item-label {
                  flex: 0 0 20rem;
                  color: $font-content-shy;
                }

                &.dashboard-list-item-value {
                  flex: 1 1 auto;
                  color: $font-content;
                }
              }

              &.dashboard-list-item--text {
                .dashboard-list-item-entry {

                  &.dashboard-list-item-label {

                  }

                  &.dashboard-list-item-value {

                  }
                }
              }
              &.dashboard-list-item--select {
                .dashboard-list-item-entry {

                  &.dashboard-list-item-label {

                  }
                  &.dashboard-list-item-value {
                    max-width: 12rem;
                    display: block;
                    border-radius: 0;
                    border: 1px solid #BBB;
                    background-color: $content;
                    color: $font-content;
                    padding: 5px 10px;

                    &:disabled {
                      background-color: #EBE7E7;
                      color: #AAA;
                      cursor: not-allowed;
                    }
                  }
                }
              }
            }

            &.dashboard-actions-list {
              .dashboard-action-item {
                padding: 1em 2em;
                background-color: $content;
                border-radius: 5px;
                .action-title {
                  color: $primary;
                  font-size: 120%;
                  cursor: pointer;
                }
                .action-content {

                }

              }
            }
          }
        }

      }
    }
  }
}