@use "@material/theme" with (
  $primary: #344955,
  $secondary: #3D5563,
  $on-primary: #FFF,
  $on-secondary: #FFF,
  $surface: #edf0f2,
  $on-surface: #344955,
);
@use "@material/drawer";
@use "@material/list";
@use "@material/button";
@use "@material/button/styles";
@use "@material/icon-button/icon-button";
@use "@material/top-app-bar";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/card";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/fab";
@use "@material/dialog";

@include dialog.core-styles;
@include fab.core-styles;
@include textfield.core-styles;
@include card.core-styles;
@include icon-button.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;

@import "~@fontsource/open-sans/index.css";
@import "./variables.scss";
@import "./common.scss";

.replicator-body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;

  .replicator-wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    background-color: #f6f9fd;

    .mdc-drawer-app-content {
      flex: auto;
      overflow: auto;
      position: relative;
    }

    .main-content {
      overflow: auto;
      height: 100%;
    }

    .app-bar {
      position: absolute;
    }


    //.replicator-sidenav {
    //  height: 100vh;
    //  flex: 0 0 auto;
    //}
    //.replicator-content {
    //  flex: 1 1 auto;
    //}
  }
}

/**
page elements

 */

/**
cards
 */

.card-container {
  display: flex;
  flex-flow: row wrap;

}
.card {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px 15px;
  min-height: 100px;

  background-color: $content;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &.card-padding {
    padding: 15px 15px;
  }
  .card-header {
    font-size: 120%;
    font-family: "Open Sans Light", "Open Sans", serif;
    padding: 5px 10px;
    border-bottom: 1px solid #CCC;
  }

  .card-body {
    padding: 5px 10px;
  }

  .card-property-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    .card-property {
      flex: 1 1 auto;
      display: flex;
      flex-flow: row nowrap;
      .card-property--label {
        flex: 0 0 auto;
        min-width: 10rem;

      }
      .card-property--value {
        flex: 1 1 auto;
        min-width: 10rem;
      }
    }
  }
  .element-card {
    margin: 15px;
    padding: 0;
    flex: 1 1 auto;
  }

}

/**
lists
 */




/**
special cards
 */

.card {
  &.add-smt-card {
    background-color: $tertiary;
    box-shadow: unset;
    border: 1px dashed $font-content-shy;
    cursor: pointer;
    border-radius: 10px;

    .card-body {
      height: 100%;
      .add-smt-button {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        height: 100%;

        .add-smt-button--icon {
          font-size: 120%;
          text-align: center;
          color: $primary;
        }
        .add-smt-button--label {
          text-align: center;
          color: $font-content-shy;
        }
      }
    }

  }
}

/**
buttons
 */

.button-container {
  .button {
    .mdc-button {
      @include button.ink-color($primary)
    }
  }

  &.button-container--padding {
    padding: 15px 0;
  }

  &.button-container--danger {
    .button {
      .mdc-button {
        @include button.ink-color($font-content-danger);
      }
    }
  }
}

/**
forms
 */

.replicator-form-container {
  .replicator-form {
    .replicator-form-element {
      margin: 1em 10px;
    }
  }
}

/**
selects
 */

.replicator-select {
  max-width: 10rem;
  display: block;
  border-radius: 0;
  border: 1px solid #BBB;
  background-color: $content;
  color: $font-content;
  padding: 5px 10px;
}
