$primary: #344955;
$secondary: #3D5563;
//$tertiary: #34627D;
$tertiary: #edf0f2;
$content: #FFF;
$font-primary: #FFF;
$font-content: #333;
$font-content-primary: $primary;
$font-content-secondary: $font-content;
$font-content-shy: #808080;
$font-content-good: #507128;
$font-content-neutral: #E3AB74;
$font-content-bad: #E68361;
$font-content-danger: #a91a1a;

$primary-light: rgba(52, 73, 85, 0.1);